
body{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color:goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;

}
p{
line-height: 40px;    
}     
button{
    margin: 6px;
    background-color: yellow;
    color: green;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    line-height: 10px;
}